<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OGAY HOME</title>
  <link rel="icon" href="assets/536430463_1326814852275562_2580353831756825262_n.png" type="image/png">
</head>

<body>https://github.com/Rafael055/CognateAct1.git
  <h1>WELCOME!</h1>
  <nav>
    <a href="about.html">About</a> |
    <a href="contact.html">Contact</a>
  </nav>
  <h2>WE ARE OGAY</h2>

  <p>EST. 2024</p>
  <hr>
  <p>©OGAY 2025</p>

</body>

</html>